<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org”>
<head>
</head>
<body>
<div th:fragment="footer">
    <footer class="page-footer font-small bg-dark pt-4 text-white">
        <div class="container text-md-left">
            <div class="row">
                <div class="col-sm">
                    <ul class="list-unstyled">
                        <li>Công ty trách nhiệm hữu hạn ...</li>
                        <li>Thông tin tuyển dụng</li>
                        <li>Ưu đãi khách hàng thân thuộc</li>
                        <li>Trách nhiệm và pháp lý</li>
                    </ul>
                </div>
                <div class="col-sm">
                    <ul class="list-unstyled">
                        <li>Email: ...</li>
                        <li>Số điện thoại: ...</li>
                        <li>Địa chỉ: ...</li>
                        <li>Địa chỉ: ...</li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="#"> MDBootstrap.com</a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
